/*DEFAULT CSS*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*PERSONALISED CSS*/

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.footer, .plusButton {
  background-color: #00bcd4;
}

.footerContent {
  width: 100% !important;
}

.iconStyle {
  font-size: 60px;
  background: #00bcd4;
  border-radius: 50px;
  color: white;
  padding: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
};